body {
  background-color: #E322B3;
}

main {
  margin-left: 3%;
  margin-right: 3%;
}

#wrapper {
  display: grid;
  border: solid #002630 10px;
  background-color: #002630;
  margin-right: 13%;
  margin-left: 13%;
  margin-top: 2%;
}

header {
  background-image: linear-gradient(to bottom, #E660DC, #E68CD7, #E541E5, #E130E6, #BD26FD);
}

h1 {
  margin-left: 3%;
  color: #150017;
  font-style: italic;
  font-family: fantasy;
  text-decoration-color: #150017;
}

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0px;
  width: 25%;
  color: #A043F8;
  display: inline-block;
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}

nav li a {
  color: #F04CE2;
  display: block;
  padding: 15px;
  background-color: #42cc00;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #D245D6, #8345D6, #8345D6, #D245D6, #8345D6);
  font-family: calibri;
  font-size: 20px;
  font-weight: bold;
}

nav li a:hover {
  background-color: #694FF7;
  background-image: linear-gradient(to top, #F04CE2, #F04CE2, #09050F, #09050F, #09050F);
}

h2 {
  color: #A443E6;
  font-family: fantasy;
  text-align: center;
  font-size: 450%;
  font-style: italic;
}

#nolink {
  color: #03C2F5;
  display: block;
  padding: 15px;
  background-color: #42cc00;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
  font-family: calibri;
  font-size: 20px;
  font-weight: bold;
}

#first {
  font-weight: bold;
}

#toppara {
  font-family: georgia;
  color: #EBEFEB;
}

#secondpara {
  font-family: georgia;
    color: #EBEFEB;
}

#thirdpara {
  font-family: georgia;
  color: #EBEFEB;
  font-size: 10px;
}

a:hover {
  color: #A443E6;
}

.house {
  text-decoration: none;
  color: #D538EB;
  font-weight: bold;
}

.number {
  text-decoration: none;
  color: #D538EB;
  font-weight: bold;
}

.building {
  float: center;
  margin-bottom: 1%;
  margin-right: 3%;
  margin-left: 450px;
}

.group {
  float: right;
  border: solid #0F0512 3px;
  margin-left: 2%;
  margin-bottom: 1%;
}

.Luther {
  border: solid #A443E6 2px;
  width: 30%;
  height: 50%;
  margin-left: 5%;
}

.Allison {
  border: solid #A443E6 3px;
  width: 30%;
  height: 50%;
}

.Diego {
  border: solid #A443E6 3px;
  width: 30%;
  height: 50%;
}

.names {
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
}

.comma {
  color: #000000;
}

.and {
  color: #000000;
  font-weight: normal;
  font-family: georgia;
}

#paragraphone {
  font-family: georgia;
}

.parafont {
  font-family: georgia;
}

.parafont2 {
  font-family: georgia;
}

.parafont3 {
  font-family: georgia;
}

.top {
  color: #150017;
  text-decoration: none;
}

.top2 {
  color: #150017;
}

.top3 {
  color: #150017;
}

.birth {
  color: #DD44E6;
}

.day {
  color: #DD44E6;
}

a {
  text-decoration: none;
}
